.Footer {
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #3b4391;
    color: #fff;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h2:hover {
  color: rgb(148, 148, 148);
}